<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/Fytx_Tips.css" th:href="@{/css/Fytx_Tips.css}" media="all"/>
</head>
<body>
<div style="margin-top: 50px;margin-left: 50px">
    <form>
        <div class="form-group">
            <label for="oldPassword">原密码</label>
            <input type="text" style="width: 400px" class="form-control" id="oldPassword">
        </div>
        <div class="form-group">
            <label for="newPassword">新密码</label>
            <input type="password" style="width: 400px" class="form-control" id="newPassword">
        </div>
        <div class="form-group">
            <label for="newPassword1">再次确认密码</label>
            <input type="password" style="width: 400px" class="form-control" id="newPassword1">
        </div>
        <button type="button" id="btn" onclick="changePassword()" class="btn btn-primary">确认修改</button>
    </form>
</div>
</body>
<script type="text/javascript" src="/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/Fytx_Tips.js" th:src="@{/js/Fytx_Tips.js}"></script>
<script type="text/javascript" src="./js/Fytx_Tips_Config.js" th:src="@{/js/Fytx_Tips_Config.js}"></script>
<script type="text/javascript">

    function changePassword(){
        var userNo = $("#userNo").val();
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var newPassword1 = $("#newPassword1").val();
        var repassword = /^[\w]{6,12}$/;
        if (oldPassword == null || oldPassword == ""){
            $.toast("原密码不能为空",1,true);
            return false;
        }else if (repassword.test(newPassword)==false){
            $.toast("密码必需位6-12位由数字、字母、下划线组成",1,true);
            return false;
        }else if(newPassword != newPassword1){
            $.toast("两次密码输入不相符，请重新输入",1,true);
        }else {
            $.post("/changePassword",{
                "oldPassword":oldPassword,
                "newPassword":newPassword
            },function (data) {
                $.toast(data.message,1,true);
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            },"json");
        }
    }

</script>
</html>