<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生报到管理服务系统</title>
    <link type="text/css" rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" media="all">
</head>
<body>
<div style="width: 100%;height: 100%;text-align: center;color: #999999;font-size: 20px;margin-top: 40px">各班级详情</div>
<div style="width: 800px;margin: auto;margin-top: 20px">
    <table class="layui-hide" id="classDetails" lay-filter="test"></table>
</div>
</body>
<script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" src="/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<script type="text/javascript">

    layui.use(['laypage', 'layer', 'table', 'element'], function () {
        laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element; //元素操作

        getclassDetails();

        function getclassDetails() {
            //执行一个 table 实例
            table.render({
                elem: '#classDetails'
                // , height: 800
                , width: 800
                , url: '/getClassDetails' //数据接口
                , title: '班级详情表'
                , page: true //开启分页
                , even: true
                , limit: 5
                , method: "get"
                , limits: [5, 10, 20, 50]
                , response: {
                    statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.item //解析数据列表
                    };
                }
                , cols: [
                    [ //表头
                        {field: 'classId', title: '班级编号', sort: true}
                        , {field: 'className', title: '班级名'}
                        , {field: 'schoolName', title: '所属学院'}
                        , {field: 'majorName', title: '所属专业'}
                        , {field: 'studentCount', title: '学生总数', sort: true}
                        , {field: 'do', title: '操作', fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo'}
                    ]
                ]
            });
        }

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: data.className+'班详情',
                    shadeClose: false,
                    area: ['550px', '500px'],
                    content: "/showallstudentsbyclassid" + "/" + data.classId
                });
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

    });

</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>