<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/layui.css" th:href="@{/css/layui.css}" media="all">
</head>
<body>
<div>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">下载模板</label>
            <div class="layui-input-block" style="margin-top: 100px;margin-left: 50px">
                <button id="download" class="layui-btn" type="button" lay-filter="formDemo">学生基本信息表格模板下载</button>
            </div>
        </div>
    </form>
</div>
<div >
    <form class="layui-form" action="/importExcel" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">上传表格</label>
            <div class="layui-input-block">
                <input type="file" name="mFile" id="no1" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <input class="layui-btn" id="btn" style="margin-left: 110px" type="submit" value="确定导入">
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" src="/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<script type="text/javascript">

    layui.use(['laypage', 'layer', 'table', 'element'], function () {
        laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , element = layui.element; //元素操作

        $("#download").click(function () {
            window.location.href = "/tem/studentTemExcel.xls"
        });

        form.render();
    });

</script>
</html>